# Visual Studio dosyaları
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Derleme sonuçları
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio projesi oluşturulan dosyalar
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
# NuGet Symbol Packages
*.snupkg
# Paket bağımlılık yöneticisi
.paket/paket.exe
paket-files/
*.nuget.props
*.nuget.targets

# Windows Forms Designer oluşturulan dosyalar
*.resx

# SQL Server dosyaları
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/ 